<div class="category">
    <h1 class="category-title"><%= page.category %></h1>
    <% page.posts.each(function(article) { %>
        <div class="category-item">
            <h1>
              <span class="article-link">
                <i class="iconfont articles-tag">&#xe633;</i>
                <a class="title-href" href="<%= url_for(article.path) %>"
                   title="<%= article.title || 'No Title' %>"><%= article.title || 'No Title' %></a>
              </span>
                <time class="post-time" datetime="<%= date_xml(article.date) %>">
                    <%= date(article.date) %>
                </time>
            </h1>
        </div>
    <% }); %>
</div>

<%- paginator() %>
