<!DOCTYPE html>
<html lang="<%=theme.language%>">
<%- partial('partials/head') %>
<body>
<a id="go-top" class="go-top faa-float animated"></a>
<%- partial('partials/header') %>
<%- partial('partials/search') %>

<div class="content">
  <section class="content-inner">
    <%- body %>
  </section>
</div>

<%- partial('partials/footer') %>

</body>
</html>
